* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Bebas Neue";
  background-color: white;
}

header {
  height: 100%;
  width: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(231, 21, 21);
}

.side-header {
  transform: rotate(270deg);
  padding: 1em;
  margin-right: -0.5rem;
}

.player {
  margin-top: 2rem;
  display: flex;
  flex-direction: column-reverse;
  color: white;
  letter-spacing: 1px;
}

.item1 {
  text-align: right;
}
.item3 {
  border: 1px rgb(255, 255, 255) solid;
  border-radius: 4px;
}
img {
  height: 29px;
  width: 29px;
  margin-bottom: -0.3rem;
}
main {
  display: flex;
  justify-content: center;
  margin-left: 5rem;
  margin-top: 3rem;
  color: black;
  margin-bottom: 5rem;
}
.title {
  width: 30%;
  margin-left: -23rem;
}
h1 {
  font-size: 10rem;
}
h2,
h3,
h4 {
  font-size: 2rem;
  text-align: right;
}
.index a {
  text-decoration: none;
  color: black;
}
.index a:visited {
  text-decoration: none;
  color: black;
}
.index a:hover {
  font-size: 3rem;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 100%;
  background-color: white;
}
.episodes {
  width: 130%;
  margin-top: 20rem;
  margin-bottom: 20rem;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}
h5 {
  font-size: 2.2em;
  padding-top: 0.5em;
  padding-left: 0.3em;
  color: rgb(231, 21, 21);
}
.epibox {
  display: flex;
  padding: 1em;
}
.date {
  margin-left: 0.9em;
}
.right {
  padding: 1em;
}
.blurb {
  padding: 1em;
}
.epimg {
  height: 100px;
  width: 100px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: rgb(231, 21, 21);
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
i {
  color: white;
}

@media (min-width: 768px) {
  .title {
    margin-left: -20rem;
  }
}
